JIRA_USERNAME: user@example.com
JIRA_TOKEN: XXX
JIRA_ENDPOINT_PREFIX: 'https://example.atlassian.net'
GOOGLE_SPREADSHEET: XXX
GOOGLE_SPREADSHEET_TICKETS_WR: Tickets!A2:K
GOOGLE_SPREADSHEET_SPRINTS_WR: Sprints!A2:C
GOOGLE_SPREADSHEET_TICKETS_GID: 1
GOOGLE_SPREADSHEET_SPRINTS_GID: 123